/* 覆盖 SearchHeader 组件的样式 */
.searchHeader{
  position: relative;
  top:0;
  padding:0
}

/* 顶部导航栏的样式 */
.header{
  background-color: #f6f5f6;
  height:45px;
  padding:0 10px;
}
.houseItems{
  padding: 0 15px;
}

/* 全局类名 */
.header :global(.icon-back) {
  font-size: 16px;
  color: #999;
}
.header :global(.icon-map) {
  color: #00ae66
}
.header :global(.search) {
  height: 30px;
}

.loading{
  line-height: 120px;
  text-align: center;
  height: 110px;
  background-color: #f6f5f6;
}